.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
.Rproj
*.Rproj
.DS_Store
layout/
output/cmhc*
output/condo*
output/FREH*
output/geom*
output/img*
output/ltr*
output/match*
output/national*
output/rent*
output/str*
